.filter {
    &__title {
        font-size: 18px;
        text-align: left;
        line-height: 1.5;

        &_margin {
            margin-bottom: 20px;
        }
    }

    &__checkbox {
        text-align: left;
        margin-bottom: 16px;
        display: flex;
        align-items: center;

          &_checked {
            position: relative;

            .filter__input::before {
                position: absolute;
                left: 0;
                content: '';
                width: 20px;
                height: 20px;
                background-image: url('../assets/checked.png');
                background-size: cover;
            }
        }
    }

    &__label {
        display: inline-block;
        max-width: 190px;
        cursor: pointer;
        transition: color .3s;

        &:hover {
            color: #C618AB;
        }
    }

    &__input {
        margin-right: 8px;
        width: 20px;
        height: 20px;
    }

    &__close {
        background: url('close.svg') no-repeat center;
        width: 13px;
        height: 13px;
        cursor: pointer;
        transition: filter .3s;
        &:hover {
            filter: brightness(0.5)
        }
    }

    &__clear {
        color: #BC18B0;
        text-decoration: underline;
        font-size: 14px;
        line-height: 1.5;
        cursor: pointer;
        transition: filter .3s;

        &:hover {
            filter: brightness(0.5);
        }

    }


}